* {
  outline: none; }

p, label {
  font-family: 'PT Sans', sans-serif; }

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif; }

.header, .main, .footer {
  padding: 0 calc(50% - 1000px); }

.main-btn {
  font-size: 20px;
  display: block;
  line-height: 20px;
  margin: 0 auto;
  padding: 15px 40px;
  background: #808080;
  border-radius: 30px;
  color: #fff; }
  .main-btn:hover {
    background: #388e3c;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }

.header {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .header-top {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 calc(50% - 1000px); }
    .header-top .contact-info {
      padding: 5px calc(50% - 700px);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      background: #808080;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      opacity: 1;
      height: 40px; }
      .header-top .contact-info__phone:before {
        font-family: iconmonstr-iconic-font;
        content: '\e06d'; }
      .header-top .contact-info__email {
        display: block;
        vertical-align: center;
        position: relative; }
        .header-top .contact-info__email:before {
          font-family: iconmonstr-iconic-font;
          content: '\e047';
          position: absolute;
          top: 0;
          left: -10px; }
      .header-top .contact-info__right {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .header-top .contact-info__right a {
          color: #fff;
          cursor: pointer;
          padding: 0 10px; }
          .header-top .contact-info__right a:hover {
            font-size: 16px;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s; }
        .header-top .contact-info__right i {
          padding: 3px 3px 0 0; }
        .header-top .contact-info__right i:hover {
          font-size: 27px;
          padding: 0;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
    .header-top .hidden {
      opacity: 0;
      margin-bottom: 100px; }
    .header-top__body {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 10px 0 15px;
      z-index: 1000;
      background: #fff;
      width: 100vw; }
      .header-top__body:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 10px;
        background: #cdcdcd;
        height: 1px;
        width: 100vw; }
      .header-top__body .logo {
        width: 80px; }
        .header-top__body .logo img {
          display: block;
          max-width: 100%; }
      .header-top__body .menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-left: 50px; }
        .header-top__body .menu a {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: bold;
          color: #424242;
          display: inline-block;
          padding: 30px 0.7vw;
          position: relative; }
        .header-top__body .menu a:hover, .header-top__body .menu .active-link {
          color: #388e3c;
          -webkit-transition: 1s;
          -o-transition: 1s;
          transition: 1s; }
          .header-top__body .menu a:hover:before, .header-top__body .menu .active-link:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 20px;
            width: calc(100% - 1.4vw);
            height: 2px;
            background: #388e3c; }
    .header-top .fixed {
      position: fixed;
      top: 0;
      /* padding: 25px 0;*/
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
      .header-top .fixed:after {
        display: none; }
  .header__title, .header__sub-title {
    letter-spacing: -1px;
    font-size: 22px;
    padding: 0 15px;
    line-height: 30px; }
  .header__title {
    border-right: 2px solid #000000;
    text-align: center; }
  .header__body .slider .slide {
    position: relative; }
    .header__body .slider .slide__overlay {
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      position: absolute;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .header__body .slider .slide img {
      max-width: 100%; }
    .header__body .slider .slide__body {
      position: absolute;
      margin: auto;
      top: 50%;
      -webkit-transform: translateY(-50%) translateX(-50%);
      -ms-transform: translateY(-50%) translateX(-50%);
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      color: #fff; }
    .header__body .slider .slide__header {
      text-align: center;
      font-size: 30px; }
    .header__body .slider .slide__text {
      padding: 20px 0;
      text-align: justify;
      font-size: 20px;
      line-height: 1.5; }
  .header__body .slider .slickArrow {
    position: absolute;
    z-index: 100;
    cursor: pointer;
    opacity: 1;
    text-align: center; }
    .header__body .slider .slickArrow:hover i {
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s;
      color: #cdcdcd; }
    .header__body .slider .slickArrow i {
      font-size: 60px;
      color: #808080; }
  .header__body .slider .slickPrev {
    top: calc(50% - 35px);
    width: 70px;
    left: 30px; }
  .header__body .slider .slickNext {
    top: calc(50% - 35px);
    width: 70px;
    right: 30px; }

.main .background-section {
  background-color: #f5f5f5; }

.main .section-header {
  font-size: 40px;
  text-align: center;
  padding: 100px 50px;
  font-weight: bold;
  position: relative; }
  .main .section-header:after {
    content: '';
    display: block;
    position: absolute;
    top: 65%;
    height: 5px;
    width: 6vw;
    background: #56bc5b;
    left: calc(50% - 3vw); }

.main .about-us {
  padding-bottom: 100px; }
  .main .about-us__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .main .about-us__img {
    width: 50%;
    max-width: 600px; }
  .main .about-us__text {
    max-width: 600px;
    color: black;
    text-align: justify;
    width: 40%;
    font-size: 20px; }

.main .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 100px; }
  .main .services__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 0 50px; }
    .main .services__body .service {
      min-width: 240px;
      padding: 20px;
      max-width: 15%;
      cursor: pointer; }
      .main .services__body .service:hover .service__title {
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        color: #388e3c; }
      .main .services__body .service:hover .service__img-cover {
        border-color: #388e3c; }
      .main .services__body .service:hover .service__img {
        -webkit-filter: invert(43%) sepia(72%) saturate(407%) hue-rotate(73deg) brightness(92%) contrast(90%);
        filter: invert(43%) sepia(72%) saturate(407%) hue-rotate(73deg) brightness(92%) contrast(90%); }
      .main .services__body .service__img-cover {
        border: 2px solid #808080;
        border-radius: 50%; }
      .main .services__body .service__img {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        padding: 20px; }
      .main .services__body .service__title {
        text-align: center;
        padding-top: 20px;
        font-size: 20px;
        font-weight: bold; }

.main .doctors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 100px; }
  .main .doctors .doctor {
    max-width: 400px;
    padding: 0 50px; }
    .main .doctors .doctor__img {
      max-width: 100%;
      display: block; }
    .main .doctors .doctor__name {
      padding-top: 20px;
      font-size: 25px;
      text-align: center; }
    .main .doctors .doctor__info {
      font-size: 22px;
      text-align: center;
      padding-top: 15px; }

.main .news {
  padding-bottom: 100px; }
  .main .news .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main .news .news__list .one-news {
      margin: 20px;
      min-width: 200px;
      width: 23%;
      max-width: 300px;
      position: relative;
      cursor: pointer; }
      .main .news .news__list .one-news:hover .one-news__text {
        display: block;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
      .main .news .news__list .one-news .one-news__img {
        max-width: 100%; }
      .main .news .news__list .one-news .one-news__text {
        display: none;
        position: absolute;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 10px;
        line-height: 1.5; }

.main .contact-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main .contact-us .map {
    width: 50vw;
    height: 500px;
    margin: 50px auto; }
  .main .contact-us .form {
    margin: 5vh auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 25vw;
    /*  input:focus:invalid, .choose_form select:focus:invalid{
        background: #fff;
        box-shadow: 0 0 5px #d45252;
        border-color: #b03535;
      }
      */ }
    .main .contact-us .form label {
      font-size: 18px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      color: #000000; }
    .main .contact-us .form input, .main .contact-us .form textarea {
      padding: 6px 12px;
      font-size: 16px;
      line-height: 1.428571429;
      color: #555555;
      background-color: #fff;
      background-image: none;
      border: 2px solid #ccc;
      border-radius: 4px;
      margin: 10px 0; }
      .main .contact-us .form input:focus, .main .contact-us .form textarea:focus {
        border: 2px solid #68c46d;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }
    .main .contact-us .form .main-btn {
      margin-top: 20px; }

.footer {
  padding: 20px 0;
  background: #808080; }
  .footer p {
    color: #fff;
    font-size: 17px;
    text-align: center; }
